<!-- Container -->
<div class="container-fixed">
 <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
  <div class="flex flex-col justify-center gap-2">
   <h1 class="text-xl font-medium leading-none text-gray-900">
   {{title}}
   </h1>
   <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
    {{subTitle}}
   </div>
  </div>
  <div class="flex items-center gap-2.5">
    <label class="switch">
           <span class="switch-label">
            <span class="switch-on:hidden">
                Показать неактивные
               </span>
            <span class="hidden switch-on:inline">
             Скрыть неактивные
            </span>
            
           </span>
           <input name="check" type="checkbox" value="1">
          </label>
   <a class="btn btn-sm btn-primary" href="#">
    Добавить сток
   </a>
  </div>
 </div>
</div>
<!-- End Container -->

<div class="container-fixed">
    <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">

        <div class="flex flex-wrap items-center gap-5 justify-between">
            <h3 class="text-md text-gray-900 font-medium">
                {{stocks.length}} стока
            </h3>
        </div>

        <div class="flex flex-col gap-5 lg:gap-7.5" id="team_crew_card">
            <div class="grid grid-cols-1 xl:grid-cols-2  gap-5 lg:gap-7.5">

                <div *ngFor="let stock of stocks">

                    <div class="card">
                
                        <div class="card-body lg:pt-9 lg:pb-7.5">
                
                            <div class="flex items-center justify-center mb-2.5">
                                <div class="size-40 relative">
                                    <i class="ki-filled ki-parcel text-2xl text-primary"></i>
                                </div>
                            </div>
                    
                            <div class="flex items-center justify-center gap-1.5 mb-2.5">
                                <a class="hover:text-primary-active text-base leading-5 font-medium text-gray-900" href="#">
                                    {{stock.keeper.name}}
                                </a>
                            </div>
                    
                            <div class="flex flex-wrap justify-center items-center gap-4 mb-7">
                                <div class="flex items-center text-sm text-gray-700">
                                    <i class="ki-filled ki-geolocation me-1 text-gray-500">
                                    </i>
                                    {{stock.location.name}}
                                </div>
                                <div class="flex items-center text-sm text-gray-700">
                                    <i class="ki-filled ki-ship me-1 text-gray-500">
                                    </i>
                                    {{stock.shipOwner.name}}
                                </div>
                                <div class="flex items-center text-sm text-gray-700">
                                    <i class="ki-filled ki-people me-1 text-gray-500">
                                    </i>
                                    {{stock.agent.name}}
                                </div>
                            </div>

                            <div class="grid justify-center gap-1.5 mb-7.5">
                            <span class="text-2xs uppercase text-gray-600 text-center">
                                Количество контейнеров
                               </span>

                               <div class="flex items-center justify-center flex-wrap gap-2 lg:gap-5">
                                
                                <div class="grid grid-cols-1 gap-1.5 border-[0.5px] border-dashed border-gray-400 rounded-md px-2.5 py-2 shrink-0 min-w-24 max-w-auto">
                                    <span class="text-gray-900 text-2sm leading-none font-medium">
                                     92
                                    </span>
                                    <span class="text-gray-700 text-xs">
                                     Груженых
                                    </span>
                                   </div>
                                   <div class="grid grid-cols-1 gap-1.5 border-[0.5px] border-dashed border-gray-400 rounded-md px-2.5 py-2 shrink-0 min-w-24 max-w-auto">
                                    <span class="text-gray-900 text-2sm leading-none font-medium">
                                     69
                                    </span>
                                    <span class="text-gray-700 text-xs">
                                     Порожних
                                    </span>
                                   </div>
                                  </div>
                            </div>

                            
                            <div class="flex flex-wrap justify-center items-center gap-4">
                                <div class="flex items-center flex-wrap">
                                    <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                        Переадресовать
                                    </a>
                                    <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                    </span>
                                    <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                        Действие 2
                                    </a>
                                    <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                    </span>
                                    <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                        Действие 3
                                    </a>
                                    <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                    </span>

                                </div>
                            </div>
                
                        </div>

                        <div (click)="openStock(stock.id)" class="card-footer justify-center">
                            <a class="btn btn-dark btn-sm">
                                <i class="ki-filled ki-check-circle"></i>
                                Открыть
                            </a>
                        </div>
                
                    </div>
                
                </div>

            </div>
            <div class="flex grow justify-center pt-5 lg:pt-7.5"></div>
        </div>
    </div>
</div>

<!-- Container -->
<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div id="teams_cards">
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
                <div *ngFor="let stock of stocks">
                    <div class="card">
                        <div class="card-body grid gap-7 py-7.5">
                            <div class="grid place-items-center gap-4">
                                <div class="flex justify-center items-center size-14 rounded-full ring-1 ring-gray-300 bg-gray-100">
                                    <i class="ki-filled ki-parcel text-2xl text-gray-600">
                                    </i>
                                </div>
                                <div class="grid place-items-center">
                                    <a class="text-base font-medium text-gray-900 hover:text-primary-active mb-px" href="#">
                                        {{stock.keeper.name}}
                                    </a>
                                    <span class="text-2sm text-gray-700 text-center">
                                        Количество, груженых/порожних: 12/24
                                    </span>
                                </div>
                                <div class="grid">
                                    <div class="flex items-center justify-between flex-wrap mb-3.5 gap-2">
                                        <span class="text-2xs text-gray-600 uppercase">
                                            Агент:
                                        </span>
                                        <div class="flex flex-wrap gap-1.5">
                                            <span class="badge badge-sm badge-outline">
                                                {{stock.agent.name}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="border-t border-gray-300 border-dashed">
                                    </div>

                                    <div class="flex items-center justify-between flex-wrap my-2.5 gap-2">
                                        <span class="text-2xs text-gray-600 uppercase">
                                            Место:
                                        </span>
                                        <div class="flex flex-wrap gap-1.5">
                                            <span class="badge badge-sm badge-outline">
                                                {{stock.location.name}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="border-t border-gray-300 border-dashed">
                                    </div>

                                    <div class="flex items-center justify-between flex-wrap my-2.5 gap-2">
                                        <span class="text-2xs text-gray-600 uppercase">
                                            Судовладелец:
                                        </span>
                                        <div class="flex flex-wrap gap-1.5">
                                            <span class="badge badge-sm badge-outline">
                                                {{stock.shipOwner.name}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-center">
                            <a class="btn btn-dark btn-sm">
                             <i class="ki-filled ki-check-circle">
                             </i>
                             Открыть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="flex grow justify-center pt-5 lg:pt-7.5"></div>
    </div>
</div>
    
<!-- Container -->
<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="card card-grid min-w-full">

            <div class="card-header flex-wrap gap-2">
                <div class="flex flex-wrap gap-2 lg:gap-5">
                 <div class="flex">
                  <label class="input input-sm">
                   <i class="ki-filled ki-magnifier">
                   </i>
                   <input placeholder="Search users" type="text" value="" />
                  </label>
                 </div>
                 <div class="flex flex-wrap gap-2.5">
                  <select class="select select-sm w-28">
                   <option value="1">
                    Active
                   </option>
                   <option value="2">
                    Disabled
                   </option>
                   <option value="2">
                    Pending
                   </option>
                  </select>
                  <select class="select select-sm w-28">
                   <option value="1">
                    Latest
                   </option>
                   <option value="2">
                    Older
                   </option>
                   <option value="3">
                    Oldest
                   </option>
                  </select>
                  <button class="btn btn-sm btn-outline btn-primary">
                   <i class="ki-filled ki-setting-4">
                   </i>
                   Filters
                  </button>
                 </div>
                </div>
               </div>

            <div class="card-body">
                <div data-datatable="true" data-datatable-page-size="20">
                    <div class="scrollable-x-auto">
            
                        <table class="table table-auto table-border" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[100px]">
                                        <span class="sort asc">
                                            <span class="sort-label font-normal text-gray-700">
                                                Место
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[100px]">
                                        <span class="sort asc">
                                            <span class="sort-label font-normal text-gray-700">
                                                Судовладелец
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[60px]">
                                        <span class="sort asc">
                                            <span class="sort-label font-normal text-gray-700">
                                                Хранитель
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[60px]">
                                        <span class="sort asc">
                                            <span class="sort-label font-normal text-gray-700">
                                                Агент
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[60px]">
                                        <span class="sort asc">
                                            <span class="sort-label font-normal text-gray-700">
                                                Количество
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="w-[60px]">
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let stock of stocks">
                                <tr>
                                    <td class="text-gray-800 font-normal">{{stock.location.name}}</td>
                                    <td class="text-gray-800 font-normal">{{stock.shipOwner.name}}</td>
                                    <td class="text-gray-800 font-normal">{{stock.keeper.name}}</td>
                                    <td class="text-gray-800 font-normal">{{stock.agent.name}}</td>
                                    <td class="text-gray-800 font-normal"></td>
                                    <td class="text-center">
                                        <a class="btn btn-dark btn-sm">
                                            <i class="ki-filled ki-check-circle"></i>
                                            Открыть
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            
                    </div>
                </div>
            </div>

            <div class="flex grow justify-center pt-5 lg:pt-7.5"></div>
        
        </div>
    </div>
</div>