<div class="flex items-center justify-center grow h-full">
    <div class="flex flex-col items-center">
        <div class="mb-16">
            <img alt="image" class="dark:hidden max-h-[160px]" src="./assets/media/illustrations/21.svg">
            <img alt="image" class="light:hidden max-h-[160px]" src="./assets/media/illustrations/21-dark.svg">
        </div>
        
        <h3 class="text-2.5xl font-semibold text-gray-900 text-center mb-2">
          Welcome to StreamStocker
        </h3>
  
        <div class="text-md text-center text-gray-700 mb-10">
          We're thrilled to have you on board and excited for
          the journey ahead together.
        </div>
        <router-outlet />
    </div>
</div>
