<div class="dropdown-box">
    <div class="selected-item">
        <input class="select" type="text" value="Select" readonly />
    </div>
    <div class="dropdown-content-1 rounded-lg border p-4 scrollable h-[170px]">
        <div class="search-input mb-3">
            <input class="input" placeholder="Введите значение" type="text" name="" id="" #inputFilter (keyup)="contentFilter(inputFilter)" />
        </div>
        <ul class="text-2sm font-normal ">
            <li class="dropdown-item active">Select</li>
            <li class="dropdown-item" value-member="1">Test 1</li>
            <li class="dropdown-item" value-member="2">Test 2</li>
            <li class="dropdown-item" value-member="3">Test 3</li>
            <li class="dropdown-item" value-member="4">Test 4</li>
            <li class="dropdown-item" value-member="5">Test 5</li>
            <li class="dropdown-item" value-member="6">Test 6</li>
            <li class="dropdown-item" value-member="7">Test 7</li>
            <li class="dropdown-item" value-member="8">Test 8</li>
            <li class="dropdown-item" value-member="9">Test 9</li>
            <li class="dropdown-item" value-member="10">Test 10</li>
            <li class="dropdown-item" value-member="11">Test 11</li>
            <li class="dropdown-item" value-member="12">Test 12</li>
            <li class="dropdown-item" value-member="13">Test 13</li>
            <li class="dropdown-item" value-member="14">Test 14</li>
            <li class="dropdown-item" value-member="15">Test 15</li>
            <li class="dropdown-item" value-member="16">Test 16</li>
            <li class="dropdown-item" value-member="17">Test 17</li>
            <li class="dropdown-item" value-member="18">Test 18</li>
        </ul>
    </div>
</div>
