<div class="dropdown-box">
    <div class="selected-item">
        <input class="select" placeholder="{{placeholder}}" type="text" [ngModel]="value" #test="ngModel" required />
    </div>
    <div class="dropdown-content-1 rounded-lg border p-4 scrollable h-[170px]">
        <div class="search-input mb-3">
            <input class="input" placeholder="Поиск..." type="text" name="" #inputFilter (keyup)="contentFilter(inputFilter)" />
        </div>
        <ul class="text-2sm font-normal">
            @for (item of source; track $index) {
                <li class="dropdown-item" data-id="{{item['id']}}">{{item['name']}}</li>
            <!--   <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 2</li>
                <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 3</li>
                <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 4</li>
                <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 5</li>
                <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 6</li>
                <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 7</li>-->
            } 
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 1</li>
            <!-- <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 2</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 3</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 4</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 5</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 6</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 7</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 8</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 9</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 10</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 11</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 12</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 13</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 14</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 15</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 16</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 17</li>
            <li class="dropdown-item" data-id="2158f8d1-4c54-46b0-a28b-0b1971bc0862">Test 18</li> -->
        </ul>
    </div>
</div>

<div class="text-danger text-2sm" *ngIf="test.invalid && (test.touched || test.dirty)">Поле обязательно для заполнения. </div>
