<div class="dropdown-box">
    <div class="selected-item">
        <input class="select" placeholder="{{placeholder}}" type="text" [ngModel]="value" #test="ngModel" required />
    </div>
    <div class="dropdown-content-1 rounded-lg border p-4 scrollable h-[170px]">
        <div class="search-input mb-3">
            <input class="input" placeholder="Поиск..." type="text" name="" #inputFilter (keyup)="contentFilter(inputFilter)" />
        </div>
        <ul class="text-2sm font-normal">
            @for (item of source; track $index) {
                <li class="dropdown-item" data-id="{{item['id']}}">{{item['name']}}</li>
            } 
        </ul>
    </div>
</div>

<div class="text-danger text-2sm" *ngIf="test.invalid && (test.touched || test.dirty)">Поле обязательно для заполнения. </div>
