<div class="card max-w-[370px] w-full">
    <section class="card-body flex flex-col gap-5 p-10">
        <div class="text-center mb-2.5">
            <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
                Sign in
            </h3>
        </div>
        <div class="flex flex-col gap-1">
            <label class="form-label font-normal text-gray-900">
                Email
            </label>
            <input class="input" placeholder="email@email.com" #email type="text" value="" (keyup.enter)="onLogin(email.value, password.value)" />
        </div>
        <div class="flex flex-col gap-1">
            <div class="flex items-center justify-between gap-1">
            <label class="form-label font-normal text-gray-900">
                Password
            </label>
            <a class="text-2sm link shrink-0" href="html/demo1/authentication/classic/reset-password/enter-email.html">
                Forgot Password?
            </a>
            </div>
            <div class="input" data-toggle-password="true">
                <input name="user_password" placeholder="Enter Password" type="password" value="" #password (keyup.enter)="onLogin(email.value, password.value)" />
                <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                    <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
                    <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
                </button>
            </div>
        </div>
        <button class="btn btn-primary flex justify-center grow" (click)="onLogin(email.value, password.value)">
            Sign In
        </button>
        <div *ngIf="showError" class="text-danger text-2sm text-center">
            {{errMessage}}
        </div>
    </section>
</div>